*{
  /* border: 1px solid red; */
}

:root {
  --darkred: #BE0000;
}

html {
  font-family: ubuntu;
  overflow-y: scroll;
  text-align: center;
}

body {
  background-color: #252525;
  color: #DDD;
  width: 800px;
  margin: auto;
  padding-top: 50px;
}

h1 {
  padding-bottom: 20px;
  color: var(--darkred);
}

h2 {
  padding: 20px;
  margin-bottom: 5px; */
}

/* BEGIN nav bar */
nav {
  background-color: #101010;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 20px;
  text-align: center;
}

#logo {
  height: 200px;
  width: auto;
  border-radius: 100px;
  vertical-align: middle;
}

nav ul {
  margin-top: 35px;
  padding-left: 0;
  text-align: left;
}

nav li {
  list-style: none;
  padding: 7px;
}
/* END nav bar */

.item img {
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  display: inline-block;
  padding: 5px;
}

footer {
  color: var(--darkred);
  background-color: #252525;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.item {
  padding: 10px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: grey;
}

.code {
  font-family: courier;
  font-weight: bold;
}
