*{
/*   border: 1px solid red; */
}

:root {
  --darkred: #BE0000;
  --textgrey: #DDD;
  --background: #252525;
}

html {
  font-family: ubuntu;
  overflow-y: scroll;
  text-align: center;
}

h1 {
  padding-bottom: 20px;
  color: var(--darkred);
}

body {
  width: 500px;
  margin: auto;
  padding-top: 50px;
}

img {
  padding: 3px;
  border: 3px solid var(--darkred);
  border-radius: 20px;
  width: 300px;
  margin-bottom: 25px;
}

.homepage {
  background-color: var(--background);
  color: var(--textgrey);
}

footer {
  color: var(--darkred);
  position: fixed;
  bottom: 0px;
  right: 0px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: grey;
}

.code {
  font-family: courier;
  font-weight: bold;
}
