*{
/*   border: 1px solid red; */
}
html {
  font-family: ubuntu;
  overflow-y: scroll;
  text-align: center;
}

h1 {
  padding-bottom: 20px;
  color: #BE0000;
}

body {
  width: 500px;
  margin: auto;
  padding-top: 50px;
}

img {
  border-radius: 15px;
  width: 300px;
  margin-bottom: 25px;
}

.homepage {
  background-color: #252525;
  color: #DDD;
}

footer {
  color: #BE0000;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: grey;
}

.font-box {
  padding: 10px 20px;
  margin: 10px;
  width: auto;
  min-height: 170px;
  display: inline-block;
  border: 3px solid black;
  border-radius: 5px;
}

/* code */
.code {
  font-family: courier;
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
